@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;



}
body{
    background:black;
    
    
}
#container{
    width: 300px;
    background-image: url(timezone.jpg);
    background-size: cover;
    margin: auto;
    margin-top: 300px;
    padding: 10px;
    border-radius: 10px;
    color:blanchedalmond;

}
#time{
    display: flex;
    justify-content: center;
    font-size: 25px;
    
}
#Date{
margin-left: 20%;
margin-top: 5px;
color:rgb(255, 255, 255);
}